<h1>Log In here!</h1>
<br>
<form action="/login" method="post">
  <label>Username: </label><input type="text" name="username"><br><br>
  <label>Password: </label><input type="password" name="password"><br><br>
  <input type="submit" value="Log In">
</form>
