<h1 style="font-family:impact;">Log In here!</h1>
<div id='flash' class='error'>
  <%= flash[:error] %>
</div>
<br>
<form style="font-family:helvetica;" action="/login" method="post">
  <label>Username: </label><input type="text" name="username"><br><br>
  <label>Password: </label><input type="password" name="password"><br><br>
  <input type="submit" value="Log In">
</form>
<p style="font-family:helvetica;">Or to create a new account, <a href="/signup">click here</a>.</p>
