<h1>Create your account here!</h1>
<div id='flash' class='error'>
  <%= flash[:error] %>
</div>
<br>
<form action="/signup" method="post">
  <label>Username: </label><input type="text" name="username"><br><br>
  <label>Email address: </label><input type="email" name="email"><br><br>
  <label>Password: </label><input type="password" name="password"><br><br>
  <input type="submit" value="Sign up">
</form>
