<h1><%=@user.username%>'s List of Exercise Records</h1>
<p> Here are the days you exercised. <br>
To view a day's exercise record, click on the date.</p>
<% @user.exercises.each do |exercise| %>
    <ol>
      <li><a href="/exercises/<%=exercise.id%>"><%= exercise.date %></a></li>
    </ol>
<%end%>
  <p>To create a new exercise record, <a href="/exercises/new">click here.</a><br>
  To view all of the exercises recorded today, <a href="/exercises">click here.</a><br>
  To log out, <a href="/logout">click here.</a></p>
