<h2>Welcome to the Daily Exercise Tracker</h2>
<p>This app will help you keep track of your exercise routine on a daily basis.<br>
  You will be able to record the date, what exercise you did, and how long you exercised.<br>
  But first you'll need to login!<p>
<p>If you need to create an account, please sign up <a href="/signup">here</a>.</p>
<p>If you already have an account, please log in <a href="/login">here</a>.</p>
