<h1 style="font-family:impact;">Edit your exercise record</h1>

<form style="font-family:helvetica;" action="/exercises/<%= @exercise.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Date: <input type="date" name="exercise[date]" id="date" value="<%= @exercise.date %>"><br><br>

  Exercise Name: <input type="text" name="exercise[name]" id="name" value="<%= @exercise.name %>"><br><br>

  Duration: <input type="integer" name="exercise[minutes]" id="minutes" value="<%= @exercise.minutes %>"> minutes<br><br>

  <input type="submit" value="Edit Record">
</form>
