<h1>Edit your exercise record</h1>

<%= @exercise.date %><%= @exercise.name %><%= @exercise.minutes %> minutes

<form action="/exercises/<%=@exercise.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="date" name="date">
  <input type="text" name="name">
  <input type="integer" name="minutes">
  <input type="submit" value="Edit">
</form>
