<h1 style="font-family:impact;">Exercises recorded for today!</h1>

<div style="font-family:helvetica;">
Here are all of the exercise records for today:<br><br>

  <table border="1">
    <tr>
      <th>Username</th>
      <th>Exercise Name</th>
      <th>Duration</th>
    </tr>
    <% Exercise.all.each do |exercise| %>
      <% if exercise.date == @today %>
        <tr>
          <td align="center"><%= exercise.user.username %>
          <td align="center"><%= exercise.name %></td>
          <td align="center"><%= exercise.minutes %> minutes</td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br><br>
  To go back to your list of exercise records, <a href="/users/<%=current_user.username%>">click here</a>
</div>
