<h1>Create a new exercise record</h1>
<form action="/exercises/new" method="post">
  <label>Date: </label>
  <input type="date" name="date"><br>
  <label>Exercise Name:</label>
  <input type="text" name="name"><br>
  <label>Duration (in minutes):</label>
  <input type="integer" name="minutes"><br>

  <input type="submit" value="Submit">
</form>
