<h1 style="font-family:impact;">Create a new exercise record</h1>
<div id='flash' class='error'>
  <%= flash[:error] %>
</div><br>
<form style="font-family:helvetica;" action="/exercises/new" method="post">

  <label>Date: </label>
  <input type="date" name="date"><br><br>

  <label>Exercise Name:</label>
  <input type="text" name="name"><br><br>

  <label>Duration (in minutes):</label>
  <input type="integer" name="minutes"><br><br>

  <input type="submit" value="Submit">
  <br><br>
  To go back to your list of exercise records, <a href="/users/<%=@current_user.username%>">click here</a>
</form>
